<div class="row">
    <div class="card col-md-2 p-2 m-2">
        <img class="mimages" src="../../assets/roohi.jpg">
        <div class="card-body">
            <div *ngFor="let item of roohi">
                <h3 class="mx-5">{{item.moviename}}</h3>
            </div>
        </div>
    </div>


    <div class="card col-md-2 p-2 m-2">
        <img class="mimages" src="../../assets/mumbaiSaga.jpg">
        <div class="card-body">
            <div *ngFor="let item of mumbai">
                <h3 class="mx-5">{{item.moviename}}</h3>
            </div>
        </div>
    </div>


    <div class="card col-md-2 p-2 m-2">
        <img class="mimages" src="../../assets/krack.jpg">
        <div class="card-body">
            <div *ngFor="let item of krack">
                <h3 class="mx-5">{{item.moviename}}</h3>
            </div>
        </div>
    </div>

    <div class="card col-md-2 p-2 m-2">
        <img class="mimages" src="../../assets/uppena.jpg">
        <div class="card-body">
            <div *ngFor="let item of uppena">
                <h3 class="mx-5">{{item.moviename}}</h3>
            </div>
        </div>
    </div>
</div>